.header-cont{
    text-align:center;
}
.img-header {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
    height:50px; 
    width:50px
}

.nav-page{
    padding-left:0px; 
    padding-right:0px; 
    text-align:center;
}

.demo-head-panel{
    padding:0;
    height:140px;
}

.demo-body-panel{
    font-size:15px;    
    padding:5px;
    margin:0;
    color:#1e1e1e;
}

.dummy{
    border-width:0;
    padding:3px;
    margin:5px;
    border-radius:5px;
}